
<nav>
  <a href="https://www.youtube.com/"><img src="https://www.youtube.com/yts/img/yt_1200-vfl4C3T0K.png" width="75" height="100" alt="youtube-logo"></a>
  <input type="text" placeholder="search" class="searchbar" name="search">
  <input type="submit" size="70%" value="search">

</nav>
<br>
<br>
<br>





  <footer>
    <p>Created by: Hassanat Adedayo</p>
    <p>Contact information:
      <a href="mailto:hadedayo@spartaglobal.com"></a>
    </p>
  </footer>
