<div class="nav-bar">

  <div class="nav-left">
    <a href="https://www.youtube.com/"><img src="https://mbtskoudsalg.com/images250_/youtube-logo-2016-png-6.png" width="75" height="100" alt="youtube-logo">
    </a>
  </div>

  <div class="nav-left">
    <input type="text" placeholder="search" class="searchbar" name="search">
    <input type="submit" size="70%" value="search">
  </div>


</div>
<ul>
  <a href="/">Beyonce</a>
  <a href="/3">Jessie J</a>
  <a href="/1">Little Mix</a>
  <a href="/2">JoJo</a>
  <a href="/3">Jennifer Hudson</a>

</ul>
