
<nav>
  <img src="https://www.youtube.com/yts/img/yt_1200-vfl4C3T0K.png" alt="youtube-logo">
  <input type="text" name="input" value="Search">
  <a href="/">HomePage</a>
</nav>

<footer>
  <p>Created by: Hassanat Adedayo</p>
  <p>Contact information:
    <a href="mailto:hadedayo@spartaglobal.com"></a>.
  </p>
</footer>
